<VirtualHost *:80>
    RewriteEngine On
	RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,QSA,L]
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ apache_server_name }}

	# SSL
	SSLEngine on

	# Redirect
    RewriteEngine On
	RewriteRule ^.*$ https://wiki.%{HTTP_HOST}%{REQUEST_URI} [R=301,QSA,L]
</VirtualHost>