<VirtualHost *:443>
	ServerName wiki.{{ apache_server_name }}
	DocumentRoot {{ apache_webroot }}

	# SSL
	SSLEngine on

	# Headers
	Header always set X-Frame-Options "DENY"
	Header always set X-Content-Type-Options "nosniff"
	Header always set Referrer-Policy "same-origin"
	Header always set Strict-Transport-Security "max-age=300; includeSubDomains"
	Header always set Content-Security-Policy "frame-ancestors 'self'; form-action 'self';"
	Header always set Cross-Origin-Opener-Policy "same-origin"
	Header always set Cross-Origin-Embedder-Policy "require-corp"
	Header always set Cross-Origin-Resource-Policy "same-origin"
	Header always set Permissions-Policy "geolocation=(), camera=(), microphone=()"

	# Short URLs
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/mediawiki/index.php [L,QSA]
	RewriteRule ^/*$ %{DOCUMENT_ROOT}/mediawiki/index.php [L,QSA]

	# Security
	<Directory "{{ apache_webroot }}">
		Require all denied
		<FilesMatch "^(favicon\.ico|robots\.txt)$">
			Require all granted
		</FilesMatch>
	</Directory>
	<Directory "{{ mediawiki_dir }}">
		Require all granted
	</Directory>
	<DirectoryMatch "{{ mediawiki_dir }}/(includes|sql|vendor|languages|maintenance|cache|tests|mw-config|docs)">
		Require all denied
	</DirectoryMatch>
    <Directory "/var/www/mediawiki/resources/assets">
        Require all granted
    </Directory>
	<DirectoryMatch "{{ mediawiki_dir }}/(skins|extensions)">
		Require all granted

		<FilesMatch ".+\.php$">
			Require all denied
		</FilesMatch>
	</DirectoryMatch>
	<Directory "{{ mediawiki_dir }}/images">
   		php_admin_flag engine off
   		Header set Content-Security-Policy "default-src 'none'; style-src 'unsafe-inline' data:; font-src data:; img-src data: 'self'; media-src data: 'self'; sandbox"
	</Directory>
	<FilesMatch "(LocalSettings\.php|composer\.(json|lock)|autoload\.php|.*\.md|.*\.json|COPYING|CREDITS|INSTALL|RELEASE-NOTES.*|UPGRADE|HISTORY|SECURITY|FAQ)">
		Require all denied
	</FilesMatch>

	# Visual editor
	AllowEncodedSlashes NoDecode

	# Logs
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
