RequestReadTimeout handshake=0 header=20-40,MinRate=500 body=20,MinRate=500
TimeOut 10
KeepAliveTimeout 5

LimitRequestBody 20971520
LimitRequestFields 50
LimitRequestFieldSize 8190
LimitRequestLine 8190
LimitXMLRequestBody 1000000

# MaxRequestWorkers