DOSEnabled true
DOSHashTableSize    3079
DOSPageCount        20
DOSSiteCount        150
DOSPageInterval     1
DOSSiteInterval     1
DOSBlockingPeriod   10

DOSWhitelist        127.0.0.1

DOSLogDir           "/var/log/mod_evasive"