SSLCertificateFile      {{ ssl_cert_file }}
SSLCertificateKeyFile   {{ ssl_key_file }}
SSLProtocol             -all +TLSv1.3
SSLOpenSSLConfCmd       Curves X25519:prime256v1:secp384r1
SSLHonorCipherOrder     off
SSLSessionTickets       off